body {
    font-family: playfair display;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    position: relative;
    text-align: center;
}

.header-overlay {
    position: relative;
}

.header-overlay img {
    max-width: 100%;
    height: auto;
    display: block;
}


h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #f8f3f3; 
    font-size: 6em; 
    font-family: playfair display; 
}

.flex-container {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    flex-wrap: wrap;
    padding: 20px;
}

.flex-item {
    flex: 1;
    padding: 20px;
    margin: 10px;
    border: 2px solid rgb(249, 249, 250);
    background-color: #fff;
    text-align: center;
}

footer {
    background-color: #333435;
    color: #fff;
    text-align: center;
    padding: 10px;
}